<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.math.matematika_2">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_main"
        android:supportsRtl="true"
        android:theme="@style/Theme.Matematika_2"
        tools:targetApi="32">
        <activity
            android:name="com.math.matematika_2.TaskActivity"
            android:exported="false"
            android:parentActivityName="com.math.matematika_2.PlayActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.math.matematika_2.PlayActivity"
            android:exported="false"
            android:parentActivityName="com.math.matematika_2.MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.math.matematika_2.MainActivity"
            android:exported="true"
            android:theme="@style/Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>